@import "compass/css3";
@import "compass/support";
$pale: rgb(244, 243, 243);
$grey: rgb(216, 216, 216);
$black: #54565B;
$org: #FE7C04;

.org {
  color: $org;
}

.body {
  width: 1366px;
  font-family: Arial, Helvetica, sans-serif, NSimSun, SimSun;
  background-color: #FFF;
}
header {
  width: 1277px;
  .shortcut {
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    padding: 0 40px;
    background-color: $pale;
    border-bottom: 1px solid $grey;
    .welcome {
      color: $black;
    }
    .login {
      color: $org;
    }
    .shortcutList {
      height: 32px;
      float: right;
      li {
        display: inline-block;
        float: left;
        height: 32px;
        line-height: 32px;
        color: $grey;
        a {
          margin: 0 20px 0 10px;
          color: $black;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            right: -15px;
            top: 1px;
            width: 6px;
            height: 6px;
            border-left: 1px dotted $black;
            border-bottom: 1px dotted $black;
            @include transform(rotate(-45deg));
          }
        }
        &.wx {
          padding-left: 25px;
          background: url(../images/wx.png) 5px 50% no-repeat;
          @include background-size(20px);
          a {
            margin-left: 5px;
          }
        }
      }
    }
  }

  .siteTop {
    padding: 0 40px;
    width: 1277px;
    height: 100px;
    .logo {
      display: inline-block;
      width: 305px;
      height: 100px;
      background: url(../images/logo.png) 50% 50% no-repeat;
      float: left;
    }
    .searchArea {
      display: inline-block;
      width: 490px;
      margin: 22px 50px 0 86px;
      float: left;
      #search {
        font-size: 14px;
        color: $black;
        display: inline-block;
        width: 358px;
        height: 40px;
        line-height: 40px;
        border: 2px solid $org;
        padding-left: 36px;
        background: url(../images/search.png) 9px 50% no-repeat;
        &+label {
          display: inline-block;
          width: 120px;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          font-weight: bold;
          color: #FFF;
          background-color: $org;
          text-align: center;
        }
        &:focus {
          padding: 0 9px;
          background: none;
          outline-style: none;
        }
      }
      .hotSearch {
        width: 478px;
        height: 25px;
        font-size: 12px;
        color: #717275;
        span {
          float: left;
          display: inline-block;
          height: 25px;
          line-height: 25px;
          padding-left: 5px;
        }
        ul li {
          float: left;
          height: 25px;
          line-height: 25px;
          padding: 0 5px;
          a {
            color: #717275;
          }
        }
      }
    }
    .cart {
      display: inline-block;
      float: left;
      width: 130px;
      height: 40px;
      line-height: 40px;
      border: 1px solid $grey;
      color: $black;
      font-size: 12px;
      padding: 0 42px 0 48px;
      background: url(../images/cart.png) 20px 50% no-repeat rgb(248, 248, 250);
      @include background-size(20px);
      margin-top: 22px;
      position: relative;
      cursor: pointer;
      &:after {
        content: '';
        width: 6px;
        height: 6px;
        position: absolute;
        top: 17px;
        right: 12px;
        border-top: 1px dotted rgb(195, 196, 199);
        border-right: 1px dotted rgb(195, 196, 199);
        @include transform(rotate(45deg));
      }
      i {
        width: 16px;
        height: 16px;
        @include border-radius(8px 8px 8px 0);
        background-color: $org;
        text-align: center;
        line-height: 16px;
        color: #FFF;
        font-size: 12px;
        position: absolute;
        top: 1px;
        right: 25px;
        padding: 1px 2px 0 0;
      }
    }
  }

  .mainNav {
    height: 47px;
    background-color: $org;
    padding: 0 40px;
    position: relative;
    .category {
      display: inline-block;
      float: left;
      width: 220px;
      height: 47px;
      line-height: 47px;
      padding: 0 70px 0 60px;
      background: url(../images/category.png) 26px 50% no-repeat rgb(255, 163, 42);
      color: #FFF;
      font-size: 14px;
      font-weight: bold;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 17px;
        right: 20px;
        width: 8px;
        height: 8px;
        border-bottom: 1px solid #FFF;
        border-right: 1px solid #FFF;
        @include transform(rotate(45deg));
      }
      &:before {
        content: '';
        width: 220px;
        height: 8px;
        position: absolute;
        left: 0;
        bottom: -8px;
        background: url(../images/radius.png) 0 0 repeat-x;
        z-index: 3;
      }
      i {
        display: block;
        width: 0;
        height: 0;
        border-width: 44px 0 0 9px;
        border-style: solid;
        border-color: transparent transparent transparent rgb(215, 129, 0);
        position: absolute;
        right: -9px;
        bottom: 0;
      }
    }
    .horizontal {
      display: inline-block;
      li {
        width: 130px;
        height: 47px;
        text-align: center;
        float: left;
        a {
          display: inline-block;
          width: 100%;
          height: 24px;
          line-height: 24px;
          font-size: 14px;
          font-weight: bold;
          color: #FFF;
          border-right: 1px dotted #FFF;
          margin: 11px 0;
          &.selected {
            color: #fffaa2;
          }
        }
      }
    }
    .vertical {
      width: 220px;
      position: absolute;
      left: 40px;
      top: 47px;
      background-color: #FFF;
      border-bottom: 3px solid $org;
      li {
        width: 100%;
        height: 88px;
        border-top: 1px dotted $org;
        border-left: 3px solid $org;
        border-right: 3px solid $org;
        padding-top: 24px;
        padding-left: 30px;
        position: relative;
        overflow: hidden;
        z-index: 2;
        &:hover {
          overflow: visible;
          &+li {
            border-top: 3px solid $org;
            padding-top: 22px;
          }
        }
        .categoryTitle {
          display: inline-block;
          width: 100%;
          font-size: 14px;
          font-weight: bold;
          line-height: 25px;
          color: $org;
          position: relative;
          &:after {
            content: '';
            width: 8px;
            height: 8px;
            border-top: 1px solid $org;
            border-right: 1px solid $org;
            @include transform(rotate(45deg));
            position: absolute;
            top: 9px;
            right: 23px;
          }
        }
        .subCategory {
          width: 100%;
          height: 24px;
          line-height: 24px;
          font-size: 12px;
          color: rgb(255, 163, 42);
          margin-top: 10px;
          a {
            color: rgb(255, 163, 42);
            font-size: 12px;
          }
        }
        .subContent {
          width: 350px;
          padding: 15px 20px;
          background-color: #FFF;
          position: absolute;
          top: 3px;
          left: 214px;
          border: 2px solid $org;
          border-left-width: 0;
          z-index: 2;
          .subTitle {
            height: 25px;
            line-height: 25px;
            padding-left: 13px;
            font-size: 12px;
            font-weight: bold;
            color: $black;
          }
          .subItem {
            p.point {
              height: 25px;
              background-color: rgb(255, 247, 236);
            }
            a {
              display: inline-block;
              width: 20%;
              height: 25px;
              line-height: 25px;
              font-size: 12px;
              float: left;
              color: $black;
              text-align: center;
              &.selected {
                color: $org;
              }
            }
          }
        }
      }
    }
  }
}
.content {
  padding: 0 40px;
  width: 1277px;
  .focus {
    width: 100%;
    height: 510px;
    padding-top: 13px;
    .sliderContainer {
      display: inline-block;
      margin-left: 220px;
      width: 750px;
      height: 430px;
      position: relative;
      .slider {
        width: 100%;
        height: 100%;
        li {
          width: 730px;
          height: 430px;
          position: absolute;
          top: 0;
          left: 10px;
          @include opacity(0);
          z-index: 0;
          @include transition(all 1s linear);
          a, img {
            display: inline-block;
            width: 730px;
            height: 430px;
          }
          &.curr {
            @include opacity(1);
            z-index: 1;
          }
        }
      }
      .sliderControl {
        display: inline-block;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 10px;
        text-align: center;
        z-index: 2;
        i {
          display: inline-block;
          width: 12px;
          height: 12px;
          @include border-radius(6px);
          background-color: rgba(0, 0, 0, 0.6);
          margin: 0 5px;
          cursor: pointer;
          &.curr {
            background-color: $org;
          }
        }
      }
    }
    .sidebar {
      float: right;
      width: 225px;
      height: 430px;
      border: 1px solid rgb(234, 234, 236);
      .sTitle {
        width: 100%;
        height: 35px;
        line-height: 35px;
        span {
          float: left;
          margin-left: 18px;
          font-size: 13px;
          font-weight: bold;
          color: rgb(76, 76, 76);
        }
        a {
          float: right;
          margin-right: 8px;
          font-size: 12px;
          color: rgb(104, 107, 114);
        }
      }
      .article {
        height: 192px;
        padding: 21px 18px;
        border-top: 1px dotted rgb(234, 234, 236);
        border-bottom: 1px dotted rgb(234, 234, 236);
        li {
          width: 100%;
          height: 30px;
          line-height: 30px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          a {
            font-size: 12px;
            color: rgb(104, 107, 114);
            &:hover {
              color: $org;
            }
          }
        }
      }
      .shortcuts {
        width: 100%;
        height: 168px;
        li {
          width: 33.3%;
          height: 50%;
          float: left;
          border-top: 1px solid rgb(234, 234, 236);
          border-right: 1px solid rgb(234, 234, 236);
          &:nth-child(3n) {
            border-right: none;
          }
          &.payment {
            background: url(../images/payment.png) 50% 18px no-repeat;
          }
          &.plane {
            background: url(../images/plane.png) 50% 18px no-repeat;
          }
          &.hotel {
            background: url(../images/hotel.png) 50% 18px no-repeat;
          }
          &.exchange {
            background: url(../images/exchange.png) 50% 18px no-repeat;
          }
          &.club {
            background: url(../images/club.png) 50% 18px no-repeat;
          }
          &.voucher {
            background: url(../images/voucher.png) 50% 18px no-repeat;
          }
          a {
            display: block;
            width: 100%;
            line-height: 30px;
            padding-top: 54px;
            color: rgb(104, 107, 114);
            text-align: center;
            font-size: 12px;
          }
        }
      }
    }
    .filter {
      width: 100%;
      height: 44px;
      margin-top: 20px;
      .fTitle {
        display: inline-block;
        padding-left: 70px;
        width: 200px;
        height: 44px;
        line-height: 44px;
        color: #FFF;
        font-size: 12px;
        font-weight: bold;
        background: url(../images/gift.png) 25px 50% no-repeat $org;
        position: relative;
        float: left;
        &:after {
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          top: 0;
          right: -20px;
          border-width: 22px 0 22px 20px;
          border-color: transparent transparent transparent $org;
          border-style: solid;
        }
      }
      .fList {
        width: 997px;
        height: 44px;
        float: left;
        text-align: center;
        border: 1px solid rgb(232, 232, 232);
        a {
          width: 14.2%;
          height: 20px;
          line-height: 20px;
          margin: 12px 0;
          float: left;
          border-right: 1px solid rgb(205, 205, 205);
          font-size: 12px;
          color: rgb(114, 114, 114);
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
  .recommend {
    width: 100%;
    height: 445px;
    margin-top: 20px;
    .rTitle {
      width: 100%;
      height: 45px;
      border-bottom: 3px solid $org;
      span {
        display: inline-block;
        float: left;
        height: 45px;
        line-height: 45px;
        font-size: 26px;
        color: rgb(114, 114, 114);
      }
      a {
        display: inline-block;
        float: right;
        font-size: 12px;
        height: 25px;
        line-height: 25px;
        margin-top: 20px;
        color: $org;
      }
    }
    .recommendContainer {
      width: 1197px;
      height: 400px;
      overflow: hidden;
      position: relative;
      &:hover {
        i {
          position: absolute;
          width: 30px;
          height: 62px;
          line-height: 62px;
          background-color: rgba(0, 0, 0, 0.2);
          color: #fff;
          top: 50%;
          margin-top: -31px;
          z-index: 1;
          cursor: pointer;
          &:after {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -8px;
            border-top: 1px solid #FFF;
            border-left: 1px solid #FFF;
          }
          &.pre {
            left: 0;
            &:after {
              margin-left: -3px;
              @include transform(rotate(-45deg));
            }
          }
          &.next {
            right: 0;
            &:after {
              margin-left: -11px;
              @include transform(rotate(135deg));
            }
          }
        }
      }
    }
    .recommendList {
      position: absolute;
      top: 0;
      left: 0;
      @include transition(left 1s linear);
      ul {
        width: 1197px;
        height: 400px;
        float: left;
        li {
          float: left;
          width: 20%;
          height: 50%;
          border-right: 2px solid #FFF;
          border-bottom: 2px solid #FFF;
          background-color: rgb(249, 249, 248);
          a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 30px;
            .name {
              display: block;
              font-size: 12px;
              color: #6c6c6c;
              width: 100%;
            }
            .price {
              display: block;
              line-height: 40px;
              color: #ff0000;
              font-size: 12px;
              span {
                font-size: 16px;
              }
            }
            .descImg {
              display: table-cell;
              width: 177px;
              height: 86px;
              text-align: center;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}